In [1]:
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.29.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading geomet-0.2.1.post1-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.8)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.17.0)
Downloading cassandra_driver-3.29.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 48.1 MB/s eta 0:00:00
Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.29.2 geomet-0.2.1.post1

In [2]:
# Import the necessary libraries
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json

##### Reference: youtube video link provided in assignment

**Connection Setup**

In [4]:
cloud_config= {
  'secure_connect_bundle': 'secure-connect-db-sales.zip'
}

# This token JSON file is autogenerated when you download your token,
# if yours is different update the file name below
with open("db_sales-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

if session:
  print('Connected!')
else:
  print("An error occurred.")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for 607d95eb-ad81-447c-b2e6-8137488f558c-eu-west-1.db.astra.datastax.com:29042:00958fd0-af98-391f-9f51-7e3fe763da5c. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for 607d95eb-ad81-447c-b2e6-8137488f558c-eu-west-1.db.astra.datastax.com:29042:00958fd0-af98-391f-9f51-7e3fe763da5c. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for 607d95eb-ad81-447c-b2e6-8137488f558c-eu-west-1.db.astra.datastax.com:29042:00958fd0-af98-391f-9f51-7e3fe763da5c. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Connected!

**Creating Bronze Table**

In [11]:
def create_bronze_tables(session):
    session.execute("""
    CREATE TABLE IF NOT EXISTS nikitha.bronze_sales (
        id UUID PRIMARY KEY,
        region TEXT,
        country TEXT,
        item_type TEXT,
        sales_channel TEXT,
        order_priority TEXT,
        order_date TEXT,
        order_id TEXT,
        ship_date TEXT,
        units_sold INT,
        unit_price FLOAT,
        unit_cost FLOAT,
        total_revenue FLOAT,
        total_cost FLOAT,
        total_profit FLOAT
    );
    """)
create_bronze_tables(session)

In [12]:
import uuid
import pandas as pd

filename = 'sales_100.csv'
dataset = pd.read_csv(filename)

def insert_into_bronze_table(session, dataset):
    for _, row in dataset.iterrows():
        session.execute("""
        INSERT INTO nikitha.bronze_sales (id, region, country, item_type, sales_channel, order_priority, order_date, order_id, ship_date, units_sold, unit_price, unit_cost, total_revenue, total_cost, total_profit)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
        """, (uuid.uuid4(), row['Region'], row['Country'], row['Item Type'], row['Sales Channel'], row['Order Priority'], row['Order Date'], str(row['Order ID']), row['Ship Date'], row['UnitsSold'], row['UnitPrice'], row['UnitCost'], row['TotalRevenue'], row['TotalCost'], row['TotalProfit']))

insert_into_bronze_table(session, dataset)

In [13]:
session = cluster.connect()
data = session.execute("SELECT * FROM nikitha.bronze_sales;")
row_count = sum(1 for _ in data)
print(f"Total Rows in nikitha.bronze_sales: {row_count}")
rows = session.execute("SELECT * FROM nikitha.bronze_sales")
for row in rows:
    print(row)
session.shutdown()

Total Rows in nikitha.bronze_sales: 99
Row(id=UUID('fe85bc70-a80e-438e-92ac-c181c0db59f1'), country='Nicaragua', item_type='Baby Food', order_date='11/11/2016', order_id='343752610', order_priority='L', region='Central America and the Caribbean', sales_channel='Online', ship_date='11/16/2016', total_cost=460883.21875, total_profit=277131.25, total_revenue=738014.5, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=2891)
Row(id=UUID('26f2ffa1-a775-4b41-b315-ab58b3307117'), country='Turkmenistan', item_type='Meat', order_date='4/30/2017', order_id='757619178', order_priority='M', region='Asia', sales_channel='Online', ship_date='5/14/2017', total_cost=1898576.125, total_profit=297783.1875, total_revenue=2196359.25, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=5206)
Row(id=UUID('8351afc3-2faa-47fb-880b-c60de4f5f402'), country='Iceland', item_type='Baby Food', order_date='10/2/2010', order_id='678230941', order_priority='M', region='Europe', sales_channel='Offline', ship_date='11/3/2010', total_cost=392492.03125, total_profit=236007.3125, total_revenue=628499.375, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=2462)
Row(id=UUID('7bf3bfec-d573-4202-aa5c-0b456890eb6f'), country='Vanuatu', item_type='Cereal', order_date='6/20/2014', order_id='572335612', order_priority='C', region='Australia and Oceania', sales_channel='Offline', ship_date='8/5/2014', total_cost=665301.9375, total_profit=503279.78125, total_revenue=1168581.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=5681)
Row(id=UUID('296ae3c2-4419-4851-8139-91232bbf887b'), country='Italy', item_type='Cereal', order_date='11/15/2011', order_id='294530856', order_priority='M', region='Europe', sales_channel='Online', ship_date='12/28/2011', total_cost=829138.8125, total_profit=627217.1875, total_revenue=1456356.0, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7080)
Row(id=UUID('0b53f14d-6401-44ba-9c4a-caf1125da552'), country='Kuwait', item_type='Household', order_date='6/13/2011', order_id='459386289', order_priority='C', region='Middle East and North Africa', sales_channel='Offline', ship_date='7/21/2011', total_cost=736723.625, total_profit=242960.1875, total_revenue=979683.8125, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=1466)
Row(id=UUID('8c3c878e-34d2-4b1a-aa3a-46051d442fbd'), country='Albania', item_type='Personal Care', order_date='2/6/2016', order_id='104191863', order_priority='M', region='Europe', sales_channel='Offline', ship_date='2/11/2016', total_cost=87441.8125, total_profit=38667.578125, total_revenue=126109.390625, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=1543)
Row(id=UUID('1be9c4ff-33c7-42fa-b6ea-818a4a02dbb4'), country='Egypt', item_type='Clothes', order_date='8/9/2016', order_id='882908809', order_priority='C', region='Middle East and North Africa', sales_channel='Online', ship_date='8/24/2016', total_cost=42721.28125, total_profit=87540.4765625, total_revenue=130261.7578125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=1192)
Row(id=UUID('4bd0ef41-3457-4b8b-9b74-8e8e332c273d'), country='Thailand', item_type='Fruits', order_date='9/30/2012', order_id='434008300', order_priority='C', region='Asia', sales_channel='Offline', ship_date='11/14/2012', total_cost=10760.599609375, total_profit=3747.550048828125, total_revenue=14508.150390625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1555)
Row(id=UUID('aefd5c7e-c85b-4337-a3f2-5c8ab9f65e9e'), country='Tanzania', item_type='Fruits', order_date='10/20/2014', order_id='156530129', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='11/29/2014', total_cost=66425.078125, total_profit=23133.58984375, total_revenue=89558.671875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=9599)
Row(id=UUID('45fde757-e197-4817-b833-2d3f5d4fd89f'), country='Ghana', item_type='Fruits', order_date='5/29/2016', order_id='496523940', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='6/4/2016', total_cost=9155.16015625, total_profit=3188.429931640625, total_revenue=12343.58984375, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1323)
Row(id=UUID('829fe12f-d2c0-4a17-af27-714383132c88'), country='Israel', item_type='Beverages', order_date='9/8/2013', order_id='371502530', order_priority='H', region='Middle East and North Africa', sales_channel='Offline', ship_date='10/13/2013', total_cost=149699.109375, total_profit=73742.9375, total_revenue=223442.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4709)
Row(id=UUID('003e43cd-0853-4966-ac7a-153c56659288'), country='Belgium', item_type='Personal Care', order_date='11/1/2011', order_id='222504317', order_priority='H', region='Europe', sales_channel='Online', ship_date='11/20/2011', total_cost=160206.09375, total_profit=70844.6171875, total_revenue=231050.703125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=2827)
Row(id=UUID('8d66afa3-80c2-4a3f-8f5e-9d441ec5ab83'), country='Albania', item_type='Baby Food', order_date='7/19/2012', order_id='752525556', order_priority='H', region='Europe', sales_channel='Offline', ship_date='8/13/2012', total_cost=1257823.75, total_profit=756335.375, total_revenue=2014159.25, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=7890)
Row(id=UUID('ef9d7ecb-e565-4788-853f-e984b3a3c0a2'), country='East Timor', item_type='Cereal', order_date='12/7/2015', order_id='156295812', order_priority='M', region='Australia and Oceania', sales_channel='Offline', ship_date='12/30/2015', total_cost=30331.490234375, total_profit=22944.810546875, total_revenue=53276.30078125, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=259)
Row(id=UUID('b55d595d-2826-4223-9f7b-a05cfd6f3713'), country='Nicaragua', item_type='Household', order_date='10/28/2015', order_id='573998582', order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date='12/7/2015', total_cost=3915289.25, total_profit=1291202.375, total_revenue=5206491.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7791)
Row(id=UUID('189b03f2-03ba-4948-86d6-b0bd9de508d9'), country='Samoa ', item_type='Household', order_date='12/5/2016', order_id='937431466', order_priority='L', region='Australia and Oceania', sales_channel='Online', ship_date='12/8/2016', total_cost=2842868.75, total_profit=937534.625, total_revenue=3780403.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=5657)
Row(id=UUID('636b492e-57d6-45a9-9650-b3ba2e51e03f'), country='Finland', item_type='Household', order_date='1/15/2016', order_id='757257401', order_priority='H', region='Europe', sales_channel='Offline', ship_date='1/31/2016', total_cost=4094696.0, total_profit=1350368.0, total_revenue=5445064.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=8148)
Row(id=UUID('4ff2abb9-a273-492c-a997-c9ff12b20052'), country='Indonesia', item_type='Personal Care', order_date='10/22/2012', order_id='678896129', order_priority='L', region='Asia', sales_channel='Offline', ship_date='10/31/2012', total_cost=527371.0, total_profit=233208.359375, total_revenue=760579.375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9306)
Row(id=UUID('8c259943-f3e9-4ab7-ab74-a379802b3781'), country='Togo', item_type='Cosmetics', order_date='9/8/2015', order_id='563681733', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='9/9/2015', total_cost=1265564.0, total_profit=835619.25, total_revenue=2101183.25, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=4806)
Row(id=UUID('afca9b00-adec-42b7-a0ea-2ad8937e7c04'), country='Vietnam', item_type='Personal Care', order_date='4/4/2010', order_id='314505374', order_priority='M', region='Asia', sales_channel='Online', ship_date='5/6/2010', total_cost=452453.28125, total_profit=200079.046875, total_revenue=652532.3125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=7984)
Row(id=UUID('f8e0189a-05fe-4f11-ac19-269a59a454f6'), country='Zimbabwe', item_type='Office Supplies', order_date='3/28/2011', order_id='953361213', order_priority='C', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='4/8/2011', total_cost=5051690.0, total_profit=1214903.75, total_revenue=6266594.0, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9623)
Row(id=UUID('5a2a66c9-d0ab-4784-8f1e-b6cd720979d6'), country='Uganda', item_type='Personal Care', order_date='6/19/2014', order_id='539471471', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='7/21/2014', total_cost=25558.169921875, total_profit=11302.0595703125, total_revenue=36860.23046875, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=451)
Row(id=UUID('c1415eea-10cb-4fdc-9720-bfbeea858069'), country='Ghana', item_type='Office Supplies', order_date='3/23/2017', order_id='601245963', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='4/15/2017', total_cost=470364.15625, total_profit=113120.0, total_revenue=583484.1875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=896)
Row(id=UUID('0eadd959-a132-4e8a-aca0-929955786970'), country='Dominican Republic', item_type='Baby Food', order_date='8/25/2011', order_id='824714744', order_priority='H', region='Central America and the Caribbean', sales_channel='Offline', ship_date='9/24/2011', total_cost=43681.078125, total_profit=26265.640625, total_revenue=69946.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=274)
Row(id=UUID('299138a8-71de-4045-922c-98aa798e3501'), country='United States of America', item_type='Personal Care', order_date='1/21/2016', order_id='190777862', order_priority='H', region='North America', sales_channel='Online', ship_date='2/19/2016', total_cost=241640.875, total_profit=106855.84375, total_revenue=348496.71875, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=4264)
Row(id=UUID('19d02151-51d6-46d4-91b4-e5f091cd7341'), country='Singapore', item_type='Snacks', order_date='1/28/2013', order_id='176461303', order_priority='C', region='Asia', sales_channel='Online', ship_date='2/7/2013', total_cost=747949.4375, total_profit=423254.625, total_revenue=1171204.125, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=7676)
Row(id=UUID('2cb86beb-a413-44ea-af17-0460c0312ddb'), country='Dominica', item_type='Beverages', order_date='6/12/2012', order_id='438011872', order_priority='L', region='Central America and the Caribbean', sales_channel='Online', ship_date='7/18/2012', total_cost=200308.796875, total_profit=98673.65625, total_revenue=298982.4375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=6301)
Row(id=UUID('b0cebfa5-65fd-48f5-bb58-5b9d43b355bc'), country='Moldova ', item_type='Fruits', order_date='1/27/2013', order_id='180908620', order_priority='C', region='Europe', sales_channel='Online', ship_date='3/3/2013', total_cost=25853.119140625, total_profit=9003.759765625, total_revenue=34856.87890625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3736)
Row(id=UUID('0d941fb6-82ee-4acf-adb3-c4f21a611ccf'), country='Pakistan', item_type='Meat', order_date='12/28/2013', order_id='500371730', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='2/15/2014', total_cost=3635594.5, total_profit=570226.8125, total_revenue=4205821.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9969)
Row(id=UUID('de0f87bd-91e9-4b66-920e-004d5c34f89f'), country='Oman', item_type='Cosmetics', order_date='11/29/2010', order_id='358570849', order_priority='H', region='Middle East and North Africa', sales_channel='Online', ship_date='12/28/2010', total_cost=2090050.25, total_profit=1380006.25, total_revenue=3470056.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7937)
Row(id=UUID('760475e9-e6f1-42ab-a1bb-768ab2dff5ab'), country='South Korea', item_type='Meat', order_date='3/16/2016', order_id='297876536', order_priority='L', region='Asia', sales_channel='Offline', ship_date='4/20/2016', total_cost=2604251.25, total_profit=408465.1875, total_revenue=3012716.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=7141)
Row(id=UUID('d0e6c7ec-c2de-4245-82b0-f7d1b8e3d389'), country='Switzerland', item_type='Office Supplies', order_date='7/29/2014', order_id='830410039', order_priority='C', region='Europe', sales_channel='Offline', ship_date='8/27/2014', total_cost=2960249.5, total_profit=711923.75, total_revenue=3672173.25, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5639)
Row(id=UUID('f39d1b6a-3035-4bd5-9c3d-64b5404be854'), country='Rwanda', item_type='Fruits', order_date='9/5/2012', order_id='699160754', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='9/15/2012', total_cost=41928.28125, total_profit=14602.1904296875, total_revenue=56530.46875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=6059)
Row(id=UUID('66314de8-4459-48f2-8f10-81f2e19fffd5'), country='Kazakhstan', item_type='Snacks', order_date='9/8/2013', order_id='710296428', order_priority='L', region='Asia', sales_channel='Online', ship_date='10/25/2013', total_cost=131738.875, total_profit=74549.28125, total_revenue=206288.15625, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=1352)
Row(id=UUID('da87b563-ed58-4d29-8066-d8dd3a8811df'), country='Montenegro', item_type='Clothes', order_date='9/4/2016', order_id='902511680', order_priority='M', region='Europe', sales_channel='Offline', ship_date='9/8/2016', total_cost=75873.28125, total_profit=155472.484375, total_revenue=231345.765625, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=2117)
Row(id=UUID('9e32249f-9cce-4af2-9485-2b73ad7df759'), country='Serbia', item_type='Clothes', order_date='7/6/2016', order_id='925136649', order_priority='L', region='Europe', sales_channel='Offline', ship_date='7/13/2016', total_cost=263352.3125, total_profit=539637.125, total_revenue=802989.4375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=7348)
Row(id=UUID('8038179a-42e5-4892-abd0-2de9b46b626f'), country='Liberia', item_type='Baby Food', order_date='6/6/2015', order_id='146634709', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='6/12/2015', total_cost=211072.078125, total_profit=126918.640625, total_revenue=337990.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=1324)
Row(id=UUID('6b1d7896-cfbf-42be-b623-5db50fc9756a'), country='Monaco', item_type='Beverages', order_date='5/29/2016', order_id='467399013', order_priority='M', region='Europe', sales_channel='Offline', ship_date='6/14/2016', total_cost=82940.109375, total_profit=40856.94140625, total_revenue=123797.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=2609)
Row(id=UUID('2f668ade-d2da-427b-80d5-d87f4d1c2d7d'), country='Mali', item_type='Household', order_date='8/19/2010', order_id='363086831', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='9/7/2010', total_cost=2169465.25, total_profit=715456.4375, total_revenue=2884921.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=4317)
Row(id=UUID('b5b70365-aed7-4ba4-aa44-5733c31f3492'), country='China', item_type='Office Supplies', order_date='2/10/2016', order_id='198927056', order_priority='M', region='Asia', sales_channel='Online', ship_date='3/29/2016', total_cost=3040043.25, total_profit=731113.75, total_revenue=3771157.0, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5791)
Row(id=UUID('9a474e80-f249-45bb-baed-7ec0a8293424'), country='Morocco', item_type='Clothes', order_date='9/14/2013', order_id='667593514', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='10/19/2013', total_cost=165258.234375, total_profit=338631.84375, total_revenue=503890.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=4611)
Row(id=UUID('da5f2c7c-68ae-4249-b281-95f9a8cb7c50'), country='Estonia', item_type='Household', order_date='9/1/2011', order_id='835696351', order_priority='H', region='Europe', sales_channel='Offline', ship_date='10/21/2011', total_cost=5013339.0, total_profit=1653322.5, total_revenue=6666661.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=9976)
Row(id=UUID('e2193572-dfcd-443b-aba6-cc5eecce63d6'), country='Burundi', item_type='Beverages', order_date='3/9/2011', order_id='529276502', order_priority='H', region='Sub-Saharan Africa', sales_channel='Online', ship_date='4/9/2011', total_cost=112314.0703125, total_profit=55326.78125, total_revenue=167640.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3533)
Row(id=UUID('0eab230a-727c-438b-8623-238be761f6d6'), country='Malawi', item_type='Meat', order_date='3/1/2016', order_id='450544869', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='3/12/2016', total_cost=1857730.875, total_profit=291376.8125, total_revenue=2149107.75, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=5094)
Row(id=UUID('00b14643-1eda-4334-9ee8-54f05ea0d898'), country='United Arab Emirates', item_type='Office Supplies', order_date='6/23/2012', order_id='425418365', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='7/6/2012', total_cost=5041191.0, total_profit=1212378.75, total_revenue=6253569.5, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9603)
Row(id=UUID('22341baf-f4d4-4890-975d-577264e32555'), country='Thailand', item_type='Meat', order_date='2/4/2015', order_id='252889239', order_priority='C', region='Asia', sales_channel='Online', ship_date='2/19/2015', total_cost=1605000.75, total_profit=251737.203125, total_revenue=1856737.875, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=4401)
Row(id=UUID('b325e59a-60da-4b56-802b-9ae42c229ca2'), country='Turkmenistan', item_type='Vegetables', order_date='4/13/2015', order_id='116205585', order_priority='M', region='Asia', sales_channel='Online', ship_date='6/2/2015', total_cost=606503.125, total_profit=421077.09375, total_revenue=1027580.1875, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=6670)
Row(id=UUID('745bb7a0-e9ca-46c3-aab8-2b611eaf8818'), country='Nepal', item_type='Meat', order_date='2/21/2014', order_id='179137074', order_priority='H', region='Asia', sales_channel='Online', ship_date='3/14/2014', total_cost=3463096.25, total_profit=543171.1875, total_revenue=4006267.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9496)
Row(id=UUID('09878c87-4140-4b09-ad7e-22f3bfda66ab'), country='Haiti', item_type='Office Supplies', order_date='12/31/2010', order_id='485070693', order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date='1/31/2011', total_cost=1077217.875, total_profit=259065.0, total_revenue=1336282.875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2052)
Row(id=UUID('83605da8-a3d1-4367-9af6-a3944dbb603b'), country='Tonga', item_type='Baby Food', order_date='5/11/2016', order_id='839094388', order_priority='L', region='Australia and Oceania', sales_channel='Online', ship_date='5/31/2016', total_cost=881752.0, total_profit=530201.6875, total_revenue=1411953.625, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=5531)

In [15]:
def data_profiling(session, keyspace, table_name):
    session = cluster.connect()
    rows = session.execute(f"SELECT * FROM {keyspace}.{table_name}")
    df = pd.DataFrame(list(rows))
    df = df.drop(columns=['id'])
    print(f"Data Profiling for table: {keyspace}.{table_name}")
    print("-" * 30)
    print(df.info())  # Data types and non-null counts
    print("\nDescriptive Statistics:")
    print(df.describe(include='all'))  # Summary statistics for numerical and categorical columns
    print("\nUnique Values per column")
    for col in df.columns:
      print(f"{col}: {df[col].nunique()}")
    # Add more detailed profiling as needed (e.g., missing value counts, value distributions)
keyspace_name = "nikitha"
table_name = "bronze_sales"
data_profiling(session, keyspace_name, table_name)

session.shutdown()

Data Profiling for table: nikitha.bronze_sales
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         99 non-null     object
 1   item_type       99 non-null     object
 2   order_date      99 non-null     object
 3   order_id        99 non-null     object
 4   order_priority  99 non-null     object
 5   region          99 non-null     object
 6   sales_channel   99 non-null     object
 7   ship_date       99 non-null     object
 8   total_cost      99 non-null     float64
 9   total_profit    99 non-null     float64
 10  total_revenue   99 non-null     float64
 11  unit_cost       99 non-null     float64
 12  unit_price      99 non-null     float64
 13  units_sold      99 non-null     int64
dtypes: float64(5), int64(1), object(8)
memory usage: 11.0+ KB
None

Descriptive Statistics:
       country item_type order_date   order_id order_priority  region  \
count       99        99         99         99             99      99
unique      80        12         96         99              4       7
top      Italy    Fruits  5/29/2016  343752610              M  Europe
freq         3        13          2          1             34      24
mean       NaN       NaN        NaN        NaN            NaN     NaN
std        NaN       NaN        NaN        NaN            NaN     NaN
min        NaN       NaN        NaN        NaN            NaN     NaN
25%        NaN       NaN        NaN        NaN            NaN     NaN
50%        NaN       NaN        NaN        NaN            NaN     NaN
75%        NaN       NaN        NaN        NaN            NaN     NaN
max        NaN       NaN        NaN        NaN            NaN     NaN

       sales_channel   ship_date    total_cost  total_profit  total_revenue  \
count             99          99  9.900000e+01  9.900000e+01   9.900000e+01
unique             2          98           NaN           NaN            NaN
top           Online  12/28/2010           NaN           NaN            NaN
freq              59           2           NaN           NaN            NaN
mean             NaN         NaN  1.044069e+06  4.174464e+05   1.461515e+06
std              NaN         NaN  1.337149e+06  4.503887e+05   1.724090e+06
min              NaN         NaN  9.155160e+03  3.188430e+03   1.234359e+04
25%              NaN         NaN  9.318011e+04  5.877198e+04   1.597606e+05
50%              NaN         NaN  3.924920e+05  2.517372e+05   6.525323e+05
75%              NaN         NaN  1.596572e+06  6.588507e+05   2.172734e+06
max              NaN         NaN  5.051690e+06  1.681149e+06   6.666662e+06

         unit_cost  unit_price   units_sold
count    99.000000   99.000000    99.000000
unique         NaN         NaN          NaN
top            NaN         NaN          NaN
freq           NaN         NaN          NaN
mean    191.126769  271.181016  4998.080808
std     185.365590  233.458916  2992.013804
min       6.920000    9.330000   259.000000
25%      35.840000   81.730003  2473.500000
50%     117.110001  205.699997  4806.000000
75%     364.690002  437.200012  7722.000000
max     524.960022  668.270020  9976.000000

Unique Values per column
country: 80
item_type: 12
order_date: 96
order_id: 99
order_priority: 4
region: 7
sales_channel: 2
ship_date: 98
total_cost: 99
total_profit: 99
total_revenue: 99
unit_cost: 12
unit_price: 12
units_sold: 98

**No nulls, any edge cases.**

**Creating Silver Table**

In [17]:
def create_silver_table(session):
    session = cluster.connect()
    session.execute("""
    CREATE TABLE IF NOT EXISTS nikitha.silver_sales (
        id UUID PRIMARY KEY,
        region TEXT,
        country TEXT,
        item_type TEXT,
        sales_channel TEXT,
        order_priority TEXT,
        order_date DATE,
        order_id BIGINT,
        ship_date DATE,
        units_sold INT,
        unit_price FLOAT,
        unit_cost FLOAT,
        total_revenue FLOAT,
        total_cost FLOAT,
        total_profit FLOAT
    );
    """)
create_silver_table(session)

In [22]:
from datetime import datetime
session = cluster.connect()
session.set_keyspace('nikitha')
rows = session.execute("SELECT * FROM bronze_sales;")
data = []
for row in rows:
    data.append(row._asdict())
df = pd.DataFrame(data)
def convert_to_date(date_string):
    try:
        return datetime.strptime(date_string, "%m/%d/%Y").date()
    except ValueError:
        return None
def convert_to_bigint(order_id_string):
    try:
        return int(order_id_string)
    except ValueError:
        return None
for _, row in df.iterrows():
    order_date = convert_to_date(row['order_date'])
    ship_date = convert_to_date(row['ship_date'])
    order_id = convert_to_bigint(row['order_id'])

    session.execute("""
    INSERT INTO nikitha.silver_sales (
        id, region, country, item_type, sales_channel, order_priority, order_date,
        order_id, ship_date, units_sold, unit_price, unit_cost, total_revenue, total_cost, total_profit
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
    """, (
        uuid.uuid4(),
        row['region'],
        row['country'],
        row['item_type'],
        row['sales_channel'],
        row['order_priority'],
        order_date,
        order_id,
        ship_date,
        row['units_sold'],
        row['unit_price'],
        row['unit_cost'],
        row['total_revenue'],
        row['total_cost'],
        row['total_profit']
    ))

In [23]:
rows = session.execute("SELECT * FROM example.silver_sales")
for row in rows:
    print(row)

Row(id=UUID('f56b7e15-f7ae-4a0c-a238-4d6d1b7c3b71'), country='Vanuatu', item_type='Fruits', order_date=Date(16012), order_id=571997869, order_priority='C', region='Australia and Oceania', sales_channel='Online', ship_date=Date(16020), total_cost=39686.19921875, total_profit=13821.349609375, total_revenue=53507.55078125, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=5735)
Row(id=UUID('8ebc79c2-8dfb-4eb2-9ddd-35fd34e54644'), country='Italy', item_type='Cereal', order_date=Date(15293), order_id=294530856, order_priority='M', region='Europe', sales_channel='Online', ship_date=Date(15336), total_cost=829138.8125, total_profit=627217.1875, total_revenue=1456356.0, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7080)
Row(id=UUID('916bc703-7ded-4ac4-885f-9c237190c6d9'), country='Tanzania', item_type='Beverages', order_date=Date(17135), order_id=659878194, order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(17182), total_cost=46922.0390625, total_profit=23114.16015625, total_revenue=70036.203125, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=1476)
Row(id=UUID('ba2d5e41-e76e-4c6b-b85e-ffbe37ee191c'), country='Ghana', item_type='Fruits', order_date=Date(16950), order_id=496523940, order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(16956), total_cost=9155.16015625, total_profit=3188.429931640625, total_revenue=12343.58984375, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1323)
Row(id=UUID('46925b5a-c115-448f-a89f-f7940e5c9c69'), country='Mali', item_type='Household', order_date=Date(14840), order_id=363086831, order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(14859), total_cost=2169465.25, total_profit=715456.4375, total_revenue=2884921.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=4317)
Row(id=UUID('88e1d591-33dd-40eb-ae8a-813d795ce343'), country='New Zealand', item_type='Beverages', order_date=Date(15624), order_id=940980136, order_priority='M', region='Australia and Oceania', sales_channel='Online', ship_date=Date(15648), total_cost=184000.515625, total_profit=90640.078125, total_revenue=274640.59375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=5788)
Row(id=UUID('39bab21b-1529-4548-a38e-06f45979a794'), country='Finland', item_type='Household', order_date=Date(16815), order_id=757257401, order_priority='H', region='Europe', sales_channel='Offline', ship_date=Date(16831), total_cost=4094696.0, total_profit=1350368.0, total_revenue=5445064.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=8148)
Row(id=UUID('96281f95-fed8-43d3-ba17-b4c01b8d2e1b'), country='Monaco', item_type='Beverages', order_date=Date(16950), order_id=467399013, order_priority='M', region='Europe', sales_channel='Offline', ship_date=Date(16966), total_cost=82940.109375, total_profit=40856.94140625, total_revenue=123797.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=2609)
Row(id=UUID('ba671c74-9eae-46d4-b58e-930556512352'), country='Albania', item_type='Personal Care', order_date=Date(16837), order_id=104191863, order_priority='M', region='Europe', sales_channel='Offline', ship_date=Date(16842), total_cost=87441.8125, total_profit=38667.578125, total_revenue=126109.390625, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=1543)
Row(id=UUID('eb2b183d-8b6a-4696-9a18-6ec27039076d'), country='Moldova ', item_type='Fruits', order_date=Date(15732), order_id=180908620, order_priority='C', region='Europe', sales_channel='Online', ship_date=Date(15767), total_cost=25853.119140625, total_profit=9003.759765625, total_revenue=34856.87890625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3736)
Row(id=UUID('b390d1e9-80e9-4485-9c40-24c43a226026'), country='Romania', item_type='Cereal', order_date=Date(16541), order_id=633134210, order_priority='M', region='Europe', sales_channel='Online', ship_date=Date(16543), total_cost=859236.0625, total_profit=649984.8125, total_revenue=1509220.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7337)
Row(id=UUID('6db0aa18-a80a-420f-82eb-15ff2feb1720'), country='Iceland', item_type='Baby Food', order_date=Date(14884), order_id=678230941, order_priority='M', region='Europe', sales_channel='Offline', ship_date=Date(14916), total_cost=392492.03125, total_profit=236007.3125, total_revenue=628499.375, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=2462)
Row(id=UUID('80954180-c1b3-44f5-b3a6-0ab2a260beca'), country='Belize', item_type='Personal Care', order_date=Date(16600), order_id=315402734, order_priority='H', region='Central America and the Caribbean', sales_channel='Online', ship_date=Date(16649), total_cost=200215.109375, total_profit=88536.9765625, total_revenue=288752.09375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=3533)
Row(id=UUID('5114c81d-9d73-4df3-ab8d-66479ab08809'), country='Romania', item_type='Beverages', order_date=Date(15389), order_id=756839835, order_priority='M', region='Europe', sales_channel='Online', ship_date=Date(15412), total_cost=145629.984375, total_profit=71738.4609375, total_revenue=217368.453125, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4581)
Row(id=UUID('3c04c555-4765-40a6-b725-1b66848a51ed'), country='France', item_type='Cosmetics', order_date=Date(16776), order_id=324669444, order_priority='M', region='Europe', sales_channel='Online', ship_date=Date(16818), total_cost=1516254.125, total_profit=1001143.4375, total_revenue=2517397.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=5758)
Row(id=UUID('337db2a5-7ed2-476b-966c-f19faa9b9ab8'), country='India', item_type='Snacks', order_date=Date(15623), order_id=440306556, order_priority='L', region='Asia', sales_channel='Online', ship_date=Date(15664), total_cost=521206.5625, total_profit=294943.875, total_revenue=816150.4375, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=5349)
Row(id=UUID('4a29f593-9111-45a9-82c0-f006fc858c21'), country='Tanzania', item_type='Cosmetics', order_date=Date(16944), order_id=739008080, order_priority='L', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(16945), total_cost=2045547.5, total_profit=1350622.125, total_revenue=3396169.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7768)
Row(id=UUID('c4756cfa-3ef1-40d8-ad84-a21172041a5d'), country='Japan', item_type='Household', order_date=Date(16267), order_id=747796285, order_priority='M', region='Asia', sales_channel='Offline', ship_date=Date(16275), total_cost=4217818.0, total_profit=1390971.875, total_revenue=5608790.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=8393)
Row(id=UUID('7578063a-8382-4169-9a49-2234190fa853'), country='East Timor', item_type='Cereal', order_date=Date(16776), order_id=156295812, order_priority='M', region='Australia and Oceania', sales_channel='Offline', ship_date=Date(16799), total_cost=30331.490234375, total_profit=22944.810546875, total_revenue=53276.30078125, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=259)
Row(id=UUID('1c2f614c-4c1d-4b43-8ead-c4a686aa50b5'), country='Dominican Republic', item_type='Baby Food', order_date=Date(15211), order_id=824714744, order_priority='H', region='Central America and the Caribbean', sales_channel='Offline', ship_date=Date(15241), total_cost=43681.078125, total_profit=26265.640625, total_revenue=69946.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=274)
Row(id=UUID('e2d23110-2678-47ab-973c-8b98e989550b'), country='Finland', item_type='Vegetables', order_date=Date(15622), order_id=642134416, order_priority='C', region='Europe', sales_channel='Offline', ship_date=Date(15671), total_cost=63469.140625, total_profit=44064.73828125, total_revenue=107533.8828125, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=698)
Row(id=UUID('68a83ef4-b1c7-464c-ba99-90f8f1ee55de'), country='Ethiopia', item_type='Cosmetics', order_date=Date(15162), order_id=807785928, order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(15180), total_cost=174324.453125, total_profit=115101.9375, total_revenue=289426.40625, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=662)
Row(id=UUID('642e672b-e8b1-46d9-9527-45b4b249256c'), country='Dominica', item_type='Beverages', order_date=Date(15503), order_id=438011872, order_priority='L', region='Central America and the Caribbean', sales_channel='Online', ship_date=Date(15539), total_cost=200308.796875, total_profit=98673.65625, total_revenue=298982.4375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=6301)
Row(id=UUID('56d16532-9b07-4dd2-9ce4-96e2cf32f96a'), country='Nepal', item_type='Meat', order_date=Date(16122), order_id=179137074, order_priority='H', region='Asia', sales_channel='Online', ship_date=Date(16143), total_cost=3463096.25, total_profit=543171.1875, total_revenue=4006267.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9496)
Row(id=UUID('c11048c1-f2b2-44ab-8760-7456f34d1172'), country='South Korea', item_type='Meat', order_date=Date(16876), order_id=297876536, order_priority='L', region='Asia', sales_channel='Offline', ship_date=Date(16911), total_cost=2604251.25, total_profit=408465.1875, total_revenue=3012716.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=7141)
Row(id=UUID('ca1068cb-2b4f-4ecf-a486-43061d762fd8'), country='Antigua and Barbuda ', item_type='Office Supplies', order_date=Date(15249), order_id=286891067, order_priority='C', region='Central America and the Caribbean', sales_channel='Offline', ship_date=Date(15251), total_cost=3305673.0, total_profit=794996.25, total_revenue=4100669.25, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=6297)
Row(id=UUID('fd277dad-c48b-422a-b71b-a233dee58bde'), country='Ghana', item_type='Office Supplies', order_date=Date(17248), order_id=601245963, order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(17271), total_cost=470364.15625, total_profit=113120.0, total_revenue=583484.1875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=896)
Row(id=UUID('c1856896-6085-4d06-9031-d4ddd4980dfa'), country='Thailand', item_type='Fruits', order_date=Date(15613), order_id=434008300, order_priority='C', region='Asia', sales_channel='Offline', ship_date=Date(15658), total_cost=10760.599609375, total_profit=3747.550048828125, total_revenue=14508.150390625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1555)
Row(id=UUID('159dad0e-139a-4cc8-b72b-66be8576f279'), country='Taiwan', item_type='Fruits', order_date=Date(16110), order_id=732588374, order_priority='M', region='Asia', sales_channel='Offline', ship_date=Date(16124), total_cost=55595.28125, total_profit=19361.939453125, total_revenue=74957.21875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=8034)
Row(id=UUID('8639a778-3faa-4e21-8058-5ef3f81285d3'), country='Burundi', item_type='Beverages', order_date=Date(15042), order_id=529276502, order_priority='H', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(15073), total_cost=112314.0703125, total_profit=55326.78125, total_revenue=167640.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3533)
Row(id=UUID('e356804d-6cc2-4aa3-b0b7-bda60decca54'), country='Vanuatu', item_type='Cereal', order_date=Date(16241), order_id=572335612, order_priority='C', region='Australia and Oceania', sales_channel='Offline', ship_date=Date(16287), total_cost=665301.9375, total_profit=503279.78125, total_revenue=1168581.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=5681)
Row(id=UUID('ddd85f7f-6228-4735-8e48-706d8f8aaf48'), country='Lebanon', item_type='Meat', order_date=Date(17233), order_id=704205024, order_priority='L', region='Middle East and North Africa', sales_channel='Online', ship_date=Date(17274), total_cost=3198331.25, total_profit=501644.0, total_revenue=3699975.25, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=8770)
Row(id=UUID('064965d3-72d6-4233-9532-2aef62326bd3'), country='Saint Lucia', item_type='Fruits', order_date=Date(16781), order_id=731120240, order_priority='L', region='Central America and the Caribbean', sales_channel='Offline', ship_date=Date(16812), total_cost=24780.51953125, total_profit=8630.2099609375, total_revenue=33410.73046875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3581)
Row(id=UUID('469e75ff-369a-4b45-9c3c-f7a761a008b4'), country='Malawi', item_type='Meat', order_date=Date(16861), order_id=450544869, order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(16872), total_cost=1857730.875, total_profit=291376.8125, total_revenue=2149107.75, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=5094)
Row(id=UUID('e7613a1c-6d05-42e2-830a-08e427d38e29'), country='Uganda', item_type='Personal Care', order_date=Date(16240), order_id=539471471, order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(16272), total_cost=25558.169921875, total_profit=11302.0595703125, total_revenue=36860.23046875, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=451)
Row(id=UUID('eed46be4-a721-465a-84de-590fb6fb6764'), country='Seychelles ', item_type='Beverages', order_date=Date(15723), order_id=425793445, order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(15752), total_cost=18978.630859375, total_profit=9349.01953125, total_revenue=28327.650390625, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=597)
Row(id=UUID('0f4dab8e-dcf9-498b-a875-f431dff922e4'), country='Samoa ', item_type='Household', order_date=Date(17140), order_id=937431466, order_priority='L', region='Australia and Oceania', sales_channel='Online', ship_date=Date(17143), total_cost=2842868.75, total_profit=937534.625, total_revenue=3780403.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=5657)
Row(id=UUID('776a4660-996f-4f9a-920e-5038fe481e1c'), country='Haiti', item_type='Office Supplies', order_date=Date(14974), order_id=485070693, order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date=Date(15005), total_cost=1077217.875, total_profit=259065.0, total_revenue=1336282.875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2052)
Row(id=UUID('18ac8145-6de2-427d-a6d7-fe1e5263c824'), country='Djibouti', item_type='Clothes', order_date=Date(17303), order_id=880811536, order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(17349), total_cost=20142.080078125, total_profit=41273.28125, total_revenue=61415.359375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=562)
Row(id=UUID('c08fe3eb-37f3-4f61-b8ea-7ac279a3dc26'), country='Greece', item_type='Cereal', order_date=Date(16669), order_id=887124383, order_priority='H', region='Europe', sales_channel='Online', ship_date=Date(16716), total_cost=1015812.125, total_profit=768429.6875, total_revenue=1784241.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=8674)
Row(id=UUID('3da88aa6-b52d-47c4-be69-2f67097c9412'), country='Egypt', item_type='Clothes', order_date=Date(17022), order_id=882908809, order_priority='C', region='Middle East and North Africa', sales_channel='Online', ship_date=Date(17037), total_cost=42721.28125, total_profit=87540.4765625, total_revenue=130261.7578125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=1192)
Row(id=UUID('8277c821-4c2f-433e-95fc-2a8f11de94ba'), country='Morocco', item_type='Clothes', order_date=Date(15962), order_id=667593514, order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date=Date(15997), total_cost=165258.234375, total_profit=338631.84375, total_revenue=503890.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=4611)
Row(id=UUID('b5b1987e-46d2-4558-a616-1e1985915681'), country='Montenegro', item_type='Clothes', order_date=Date(17048), order_id=902511680, order_priority='M', region='Europe', sales_channel='Offline', ship_date=Date(17052), total_cost=75873.28125, total_profit=155472.484375, total_revenue=231345.765625, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=2117)
Row(id=UUID('4e28d8dd-ced9-4219-98c4-baaab121ce09'), country='Italy', item_type='Cereal', order_date=Date(16769), order_id=887409770, order_priority='C', region='Europe', sales_channel='Online', ship_date=Date(16774), total_cost=366085.875, total_profit=276932.34375, total_revenue=643018.1875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=3126)
Row(id=UUID('52134cf4-febb-417f-9aac-3870d3ef53b8'), country='Kazakhstan', item_type='Snacks', order_date=Date(15956), order_id=710296428, order_priority='L', region='Asia', sales_channel='Online', ship_date=Date(16003), total_cost=131738.875, total_profit=74549.28125, total_revenue=206288.15625, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=1352)
Row(id=UUID('9b7b5612-6b61-4735-a0b6-1b3faf080583'), country='Sao Tome and Principe', item_type='Clothes', order_date=Date(16750), order_id=548299157, order_priority='L', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(16797), total_cost=98918.3984375, total_profit=202694.40625, total_revenue=301612.8125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=2760)
Row(id=UUID('0aaab856-9546-4ffc-874c-83c6ec69e94c'), country='South Africa', item_type='Fruits', order_date=Date(15548), order_id=443368995, order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(15549), total_cost=11023.5595703125, total_profit=3839.1298828125, total_revenue=14862.6904296875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1593)
Row(id=UUID('d4aaa603-cce0-40a6-a3dd-c56d622cdd18'), country='United States of America', item_type='Personal Care', order_date=Date(16821), order_id=190777862, order_priority='H', region='North America', sales_channel='Online', ship_date=Date(16850), total_cost=241640.875, total_profit=106855.84375, total_revenue=348496.71875, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=4264)
Row(id=UUID('d073790f-c7bb-412e-9c5d-f6bc7cd3c799'), country='Tunisia ', item_type='Cosmetics', order_date=Date(15522), order_id=479969346, order_priority='H', region='Middle East and North Africa', sales_channel='Offline', ship_date=Date(15541), total_cost=645158.5, total_profit=425981.5, total_revenue=1071140.0, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=2450)
Row(id=UUID('a61b5692-4a1c-401a-b33e-8d38e873b44d'), country='Belgium', item_type='Personal Care', order_date=Date(15279), order_id=222504317, order_priority='H', region='Europe', sales_channel='Online', ship_date=Date(15298), total_cost=160206.09375, total_profit=70844.6171875, total_revenue=231050.703125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=2827)
Row(id=UUID('506b91e8-17e9-4f17-97c5-a37060a75e1b'), country='Malaysia', item_type='Beverages', order_date=Date(16387), order_id=955894076, order_priority='M', region='Asia', sales_channel='Online', ship_date=Date(16432), total_cost=291005.65625, total_profit=143351.640625, total_revenue=434357.3125, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=9154)

**Create Gold Tables**

In [36]:
def create_gold_tables(session):
    session.execute("""
        CREATE TABLE IF NOT EXISTS nikitha.gold_total_sales_by_region (
            region TEXT PRIMARY KEY,
            total_revenue FLOAT
        );
    """)

    session.execute("""
        CREATE TABLE IF NOT EXISTS nikitha.gold_sales_by_item_type (
            item_type TEXT,
            order_date DATE,
            total_revenue FLOAT,
            PRIMARY KEY (item_type, order_date)
        );
    """)

    session.execute("""
        CREATE TABLE IF NOT EXISTS nikitha.gold_sales_by_country_and_channel (
            country TEXT,
            sales_channel TEXT,
            total_profit FLOAT,
            PRIMARY KEY (country, sales_channel)
        );
    """)

    session.execute("""
        CREATE TABLE IF NOT EXISTS nikitha.gold_average_unit_price_by_priority (
            order_priority TEXT PRIMARY KEY,
            average_unit_price FLOAT
        );
    """)

# Call the function to create the tables
create_gold_tables(session)

In [32]:
import pandas as pd
def populate_gold_table(session):
    rows = session.execute("SELECT region, total_revenue FROM nikitha.silver_sales;")
    df = pd.DataFrame(list(rows))
    #print(df)
    region_sales = df.groupby('region')['total_revenue'].sum().reset_index()
    #print(region_sales)

    for _, row in region_sales.iterrows():
      session.execute("""
        INSERT INTO nikitha.gold_total_sales_by_region (region, total_revenue)
        VALUES (%s, %s);""", (row['region'], row['total_revenue']))

    rows = session.execute("SELECT item_type, order_date, total_revenue FROM nikitha.silver_sales;")
    df = pd.DataFrame(list(rows))
    item_sales = df.groupby(['item_type', 'order_date'])['total_revenue'].sum().reset_index()

    for _, row in item_sales.iterrows():
      session.execute("""
        INSERT INTO nikitha.gold_sales_by_item_type (item_type, order_date, total_revenue)
        VALUES (%s, %s, %s);""", (row['item_type'], row['order_date'], row['total_revenue']))

    rows = session.execute("SELECT country, sales_channel, total_profit FROM nikitha.silver_sales;")
    df = pd.DataFrame(list(rows))
    channel_profit = df.groupby(['country', 'sales_channel'])['total_profit'].sum().reset_index()

    for _, row in channel_profit.iterrows():
      session.execute("""
        INSERT INTO nikitha.gold_sales_by_country_and_channel (country, sales_channel, total_profit)
        VALUES (%s, %s, %s);""", (row['country'], row['sales_channel'], row['total_profit']))
    rows = session.execute("SELECT order_priority, unit_price FROM nikitha.silver_sales;")
    df = pd.DataFrame(list(rows))
    priority_price = df.groupby('order_priority')['unit_price'].mean().reset_index()

    for _, row in priority_price.iterrows():
      session.execute("""
        INSERT INTO nikitha.gold_average_unit_price_by_priority (order_priority, average_unit_price)
        VALUES (%s, %s);""", (row['order_priority'], row['unit_price']))

In [33]:
populate_gold_table(session)

                   region  total_revenue
0   Australia and Oceania   5.350755e+04
1                  Europe   1.456356e+06
2      Sub-Saharan Africa   7.003620e+04
3      Sub-Saharan Africa   1.234359e+04
4      Sub-Saharan Africa   2.884922e+06
..                    ...            ...
94     Sub-Saharan Africa   2.636753e+06
95     Sub-Saharan Africa   8.116167e+04
96                 Europe   1.885188e+05
97                   Asia   8.684654e+05
98                 Europe   8.029894e+05

[99 rows x 2 columns]
                              region  total_revenue
0                               Asia   2.884081e+07
1              Australia and Oceania   1.071126e+07
2  Central America and the Caribbean   1.757084e+07
3                             Europe   3.496475e+07
4       Middle East and North Africa   2.476513e+07
5                      North America   3.611757e+06
6                 Sub-Saharan Africa   2.422544e+07

In [35]:
rows = session.execute("SELECT * FROM nikitha.gold_total_sales_by_region")
for row in rows:
    print(row)
rows = session.execute("SELECT * FROM nikitha.gold_sales_by_item_type")
for row in rows:
    print(row)
rows = session.execute("SELECT * FROM nikitha.gold_sales_by_country_and_channel")
for row in rows:
    print(row)
rows = session.execute("SELECT * FROM nikitha.gold_average_unit_price_by_priority")
for row in rows:
    print(row)

Row(region='Australia and Oceania', total_revenue=10711258.0)
Row(region='Europe', total_revenue=34964748.0)
Row(region='Middle East and North Africa', total_revenue=24765128.0)
Row(region='Central America and the Caribbean', total_revenue=17570836.0)
Row(region='Asia', total_revenue=28840812.0)
Row(region='Sub-Saharan Africa', total_revenue=24225438.0)
Row(region='North America', total_revenue=3611757.5)
Row(item_type='Household', order_date=Date(14840), total_revenue=2884921.5)
Row(item_type='Household', order_date=Date(14960), total_revenue=2823440.75)
Row(item_type='Household', order_date=Date(15138), total_revenue=979683.8125)
Row(item_type='Household', order_date=Date(15218), total_revenue=6666661.5)
Row(item_type='Household', order_date=Date(15245), total_revenue=416332.21875)
Row(item_type='Household', order_date=Date(15297), total_revenue=4707294.0)
Row(item_type='Household', order_date=Date(16267), total_revenue=5608790.0)
Row(item_type='Household', order_date=Date(16736), total_revenue=5206491.5)
Row(item_type='Household', order_date=Date(16815), total_revenue=5445064.0)
Row(item_type='Household', order_date=Date(17140), total_revenue=3780403.5)
Row(item_type='Office Supplies', order_date=Date(14974), total_revenue=1336282.875)
Row(item_type='Office Supplies', order_date=Date(15061), total_revenue=6266594.0)
Row(item_type='Office Supplies', order_date=Date(15062), total_revenue=1896974.75)
Row(item_type='Office Supplies', order_date=Date(15249), total_revenue=4100669.25)
Row(item_type='Office Supplies', order_date=Date(15514), total_revenue=6253569.5)
Row(item_type='Office Supplies', order_date=Date(16280), total_revenue=3672173.25)
Row(item_type='Office Supplies', order_date=Date(16841), total_revenue=3771157.0)
Row(item_type='Office Supplies', order_date=Date(17248), total_revenue=583484.1875)
Row(item_type='Vegetables', order_date=Date(15622), total_revenue=107533.8828125)
Row(item_type='Vegetables', order_date=Date(16538), total_revenue=1027580.1875)
Row(item_type='Snacks', order_date=Date(15623), total_revenue=816150.4375)
Row(item_type='Snacks', order_date=Date(15733), total_revenue=1171204.125)
Row(item_type='Snacks', order_date=Date(15956), total_revenue=206288.15625)
Row(item_type='Personal Care', order_date=Date(14703), total_revenue=652532.3125)
Row(item_type='Personal Care', order_date=Date(14993), total_revenue=746767.0)
Row(item_type='Personal Care', order_date=Date(15279), total_revenue=231050.703125)
Row(item_type='Personal Care', order_date=Date(15635), total_revenue=760579.375)
Row(item_type='Personal Care', order_date=Date(16240), total_revenue=36860.23046875)
Row(item_type='Personal Care', order_date=Date(16600), total_revenue=288752.09375)
Row(item_type='Personal Care', order_date=Date(16821), total_revenue=348496.71875)
Row(item_type='Personal Care', order_date=Date(16837), total_revenue=126109.390625)
Row(item_type='Meat', order_date=Date(16067), total_revenue=4205821.5)
Row(item_type='Meat', order_date=Date(16122), total_revenue=4006267.5)
Row(item_type='Meat', order_date=Date(16470), total_revenue=1856737.875)
Row(item_type='Meat', order_date=Date(16570), total_revenue=151880.40625)
Row(item_type='Meat', order_date=Date(16861), total_revenue=2149107.75)
Row(item_type='Meat', order_date=Date(16876), total_revenue=3012716.5)
Row(item_type='Meat', order_date=Date(17233), total_revenue=3699975.25)
Row(item_type='Meat', order_date=Date(17286), total_revenue=2196359.25)
Row(item_type='Fruits', order_date=Date(14778), total_revenue=44224.19921875)
Row(item_type='Fruits', order_date=Date(15285), total_revenue=12866.0703125)
Row(item_type='Fruits', order_date=Date(15298), total_revenue=81161.671875)
Row(item_type='Fruits', order_date=Date(15548), total_revenue=14862.6904296875)
Row(item_type='Fruits', order_date=Date(15588), total_revenue=56530.46875)
Row(item_type='Fruits', order_date=Date(15613), total_revenue=14508.150390625)
Row(item_type='Fruits', order_date=Date(15732), total_revenue=34856.87890625)
Row(item_type='Fruits', order_date=Date(16012), total_revenue=53507.55078125)
Row(item_type='Fruits', order_date=Date(16110), total_revenue=74957.21875)
Row(item_type='Fruits', order_date=Date(16363), total_revenue=89558.671875)
Row(item_type='Fruits', order_date=Date(16781), total_revenue=33410.73046875)
Row(item_type='Fruits', order_date=Date(16950), total_revenue=12343.58984375)
Row(item_type='Fruits', order_date=Date(17124), total_revenue=92245.7109375)
Row(item_type='Beverages', order_date=Date(15042), total_revenue=167640.84375)
Row(item_type='Beverages', order_date=Date(15389), total_revenue=217368.453125)
Row(item_type='Beverages', order_date=Date(15503), total_revenue=298982.4375)
Row(item_type='Beverages', order_date=Date(15596), total_revenue=117913.25)
Row(item_type='Beverages', order_date=Date(15624), total_revenue=274640.59375)
Row(item_type='Beverages', order_date=Date(15723), total_revenue=28327.650390625)
Row(item_type='Beverages', order_date=Date(15956), total_revenue=223442.046875)
Row(item_type='Beverages', order_date=Date(16387), total_revenue=434357.3125)
Row(item_type='Beverages', order_date=Date(16950), total_revenue=123797.046875)
Row(item_type='Beverages', order_date=Date(17100), total_revenue=188518.84375)
Row(item_type='Beverages', order_date=Date(17135), total_revenue=70036.203125)
Row(item_type='Cereal', order_date=Date(14710), total_revenue=1932962.875)
Row(item_type='Cereal', order_date=Date(15293), total_revenue=1456356.0)
Row(item_type='Cereal', order_date=Date(15853), total_revenue=868465.375)
Row(item_type='Cereal', order_date=Date(16241), total_revenue=1168581.75)
Row(item_type='Cereal', order_date=Date(16541), total_revenue=1509220.875)
Row(item_type='Cereal', order_date=Date(16669), total_revenue=1784241.75)
Row(item_type='Cereal', order_date=Date(16769), total_revenue=643018.1875)
Row(item_type='Cereal', order_date=Date(16776), total_revenue=53276.30078125)
Row(item_type='Cosmetics', order_date=Date(14942), total_revenue=3470056.5)
Row(item_type='Cosmetics', order_date=Date(15023), total_revenue=4227287.0)
Row(item_type='Cosmetics', order_date=Date(15103), total_revenue=3263260.75)
Row(item_type='Cosmetics', order_date=Date(15162), total_revenue=289426.40625)
Row(item_type='Cosmetics', order_date=Date(15522), total_revenue=1071140.0)
Row(item_type='Cosmetics', order_date=Date(15620), total_revenue=1297172.375)
Row(item_type='Cosmetics', order_date=Date(16151), total_revenue=4003440.5)
Row(item_type='Cosmetics', order_date=Date(16494), total_revenue=2636753.25)
Row(item_type='Cosmetics', order_date=Date(16556), total_revenue=453813.59375)
Row(item_type='Cosmetics', order_date=Date(16686), total_revenue=2101183.25)
Row(item_type='Cosmetics', order_date=Date(16776), total_revenue=2517397.5)
Row(item_type='Cosmetics', order_date=Date(16944), total_revenue=3396169.5)
Row(item_type='Baby Food', order_date=Date(14884), total_revenue=628499.375)
Row(item_type='Baby Food', order_date=Date(15211), total_revenue=69946.71875)
Row(item_type='Baby Food', order_date=Date(15540), total_revenue=2014159.25)
Row(item_type='Baby Food', order_date=Date(16592), total_revenue=337990.71875)
Row(item_type='Baby Food', order_date=Date(16932), total_revenue=1411953.625)
Row(item_type='Baby Food', order_date=Date(17116), total_revenue=738014.5)
Row(item_type='Clothes', order_date=Date(15145), total_revenue=993573.75)
Row(item_type='Clothes', order_date=Date(15280), total_revenue=419198.09375)
Row(item_type='Clothes', order_date=Date(15661), total_revenue=603225.625)
Row(item_type='Clothes', order_date=Date(15962), total_revenue=503890.09375)
Row(item_type='Clothes', order_date=Date(16750), total_revenue=301612.8125)
Row(item_type='Clothes', order_date=Date(16988), total_revenue=802989.4375)
Row(item_type='Clothes', order_date=Date(17022), total_revenue=130261.7578125)
Row(item_type='Clothes', order_date=Date(17048), total_revenue=231345.765625)
Row(item_type='Clothes', order_date=Date(17091), total_revenue=339860.8125)
Row(item_type='Clothes', order_date=Date(17303), total_revenue=61415.359375)
Row(country='Malaysia', sales_channel='Online', total_profit=143351.640625)
Row(country='Israel', sales_channel='Offline', total_profit=73742.9375)
Row(country='Serbia', sales_channel='Offline', total_profit=539637.125)
Row(country='Djibouti', sales_channel='Offline', total_profit=41273.28125)
Row(country='Egypt', sales_channel='Online', total_profit=87540.4765625)
Row(country='Nicaragua', sales_channel='Online', total_profit=1568333.625)
Row(country='Romania', sales_channel='Online', total_profit=721723.25)
Row(country='Sao Tome and Principe', sales_channel='Offline', total_profit=202694.40625)
Row(country='Liberia', sales_channel='Offline', total_profit=126918.640625)
Row(country='Vanuatu', sales_channel='Offline', total_profit=503279.78125)
Row(country='Vanuatu', sales_channel='Online', total_profit=13821.349609375)
Row(country='Morocco', sales_channel='Online', total_profit=338631.84375)
Row(country='Lebanon', sales_channel='Online', total_profit=501644.0)
Row(country='Madagascar', sales_channel='Online', total_profit=228398.40625)
Row(country='Mali', sales_channel='Offline', total_profit=715456.4375)
Row(country='Togo', sales_channel='Online', total_profit=835619.25)
Row(country='Sri Lanka', sales_channel='Online', total_profit=3323.389892578125)
Row(country='Canada', sales_channel='Online', total_profit=1297765.625)
Row(country='Vietnam', sales_channel='Online', total_profit=200079.046875)
Row(country='Mauritius ', sales_channel='Offline', total_profit=405388.8125)
Row(country='Tanzania', sales_channel='Offline', total_profit=1373755.75)
Row(country='Tanzania', sales_channel='Online', total_profit=23114.16015625)
Row(country='Tunisia ', sales_channel='Offline', total_profit=425981.5)
Row(country='Brunei', sales_channel='Offline', total_profit=374026.96875)
Row(country='Seychelles ', sales_channel='Online', total_profit=9349.01953125)
Row(country='Ghana', sales_channel='Offline', total_profit=3188.429931640625)
Row(country='Ghana', sales_channel='Online', total_profit=394835.84375)
Row(country='Turkmenistan', sales_channel='Online', total_profit=718860.25)
Row(country='Belgium', sales_channel='Online', total_profit=70844.6171875)
Row(country='Iceland', sales_channel='Offline', total_profit=236007.3125)
Row(country='Sweden', sales_channel='Online', total_profit=38915.1015625)
Row(country='Dominican Republic', sales_channel='Offline', total_profit=26265.640625)
Row(country='United Kingdom', sales_channel='Online', total_profit=180477.0625)
Row(country='United States of America', sales_channel='Online', total_profit=106855.84375)
Row(country='China', sales_channel='Online', total_profit=731113.75)
Row(country='Greece', sales_channel='Online', total_profit=768429.6875)
Row(country='Democratic Republic of the Congo', sales_channel='Online', total_profit=515872.28125)
Row(country='Switzerland', sales_channel='Offline', total_profit=711923.75)
Row(country='South Africa', sales_channel='Offline', total_profit=3839.1298828125)
Row(country='Kazakhstan', sales_channel='Online', total_profit=74549.28125)
Row(country='Papua New Guinea', sales_channel='Offline', total_profit=688308.5)
Row(country='India', sales_channel='Online', total_profit=294943.875)
Row(country='Thailand', sales_channel='Offline', total_profit=3747.550048828125)
Row(country='Thailand', sales_channel='Online', total_profit=251737.203125)
Row(country='Haiti', sales_channel='Online', total_profit=259065.0)
Row(country='Estonia', sales_channel='Offline', total_profit=1653322.5)
Row(country='Kuwait', sales_channel='Offline', total_profit=242960.1875)
Row(country='Czech Republic', sales_channel='Online', total_profit=1592127.625)
Row(country='Dominica', sales_channel='Offline', total_profit=1167402.125)
Row(country='Dominica', sales_channel='Online', total_profit=98673.65625)
Row(country='Nepal', sales_channel='Online', total_profit=543171.1875)
Row(country='Taiwan', sales_channel='Offline', total_profit=19361.939453125)
Row(country='Taiwan', sales_channel='Online', total_profit=832480.25)
Row(country='Antigua and Barbuda ', sales_channel='Offline', total_profit=794996.25)
Row(country='Algeria', sales_channel='Online', total_profit=1681149.0)
Row(country='Uganda', sales_channel='Online', total_profit=1059912.0)
Row(country='France', sales_channel='Online', total_profit=1001143.4375)
Row(country='Finland', sales_channel='Offline', total_profit=1394432.75)
Row(country='Monaco', sales_channel='Offline', total_profit=40856.94140625)
Row(country='Indonesia', sales_channel='Offline', total_profit=233208.359375)
Row(country='Indonesia', sales_channel='Online', total_profit=103249.7890625)
Row(country='Netherlands', sales_channel='Online', total_profit=23827.669921875)
Row(country='Burundi', sales_channel='Online', total_profit=55326.78125)
Row(country='South Korea', sales_channel='Offline', total_profit=408465.1875)
Row(country='The Gambia', sales_channel='Online', total_profit=20964.58984375)
Row(country='Pakistan', sales_channel='Online', total_profit=570226.8125)
Row(country='United Arab Emirates', sales_channel='Online', total_profit=1212378.75)
Row(country='Saint Lucia', sales_channel='Offline', total_profit=8630.2099609375)
Row(country='Samoa ', sales_channel='Online', total_profit=937534.625)
Row(country='Rwanda', sales_channel='Online', total_profit=14602.1904296875)
Row(country='Tonga', sales_channel='Online', total_profit=530201.6875)
Row(country='New Zealand', sales_channel='Online', total_profit=90640.078125)
Row(country='Solomon Islands', sales_channel='Online', total_profit=700209.25)
Row(country='Moldova ', sales_channel='Online', total_profit=9003.759765625)
Row(country='Japan', sales_channel='Offline', total_profit=1390971.875)
Row(country='Belize', sales_channel='Online', total_profit=88536.9765625)
Row(country='Montenegro', sales_channel='Offline', total_profit=155472.484375)
Row(country='Slovakia', sales_channel='Offline', total_profit=62217.1796875)
Row(country='The Bahamas', sales_channel='Offline', total_profit=11423.400390625)
Row(country='The Bahamas', sales_channel='Online', total_profit=228973.21875)
Row(country='Albania', sales_channel='Offline', total_profit=795002.9375)
Row(country='Zimbabwe', sales_channel='Offline', total_profit=1214903.75)
Row(country='Ethiopia', sales_channel='Online', total_profit=115101.9375)
Row(country='Malawi', sales_channel='Offline', total_profit=291376.8125)
Row(country='Italy', sales_channel='Online', total_profit=1271915.75)
Row(country='East Timor', sales_channel='Offline', total_profit=22944.810546875)
Row(country='Singapore', sales_channel='Online', total_profit=423254.625)
Row(country='Oman', sales_channel='Online', total_profit=1380006.25)
Row(order_priority='C', average_unit_price=349.7989501953125)
Row(order_priority='M', average_unit_price=269.7085266113281)
Row(order_priority='H', average_unit_price=284.71453857421875)
Row(order_priority='L', average_unit_price=198.62208557128906)